body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181823;}

p {max-height: 999999px;}

.text {
  font-weight: 300;
  font-size: 20px;
  max-height: 999999px;
  color: white;
  text-align: center;
}


.text a {color: orange; text-decoration: none;}
.text a:hover{opacity:0.7;}

  /*-----------------------------------------------------------------------------------------------------*/

  .dropdown-content {display: none; position: absolute;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown-content a {text-align: left;}

  #navcontainer {
    background-image: url("mkwii.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
    width: 100%;
    display: block;
    margin: 0;
  }

  #navbar {
      list-style-type: none;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 30px;
      right: 5%;
  }

  li {
      float: right;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px 17px;
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
  }

  li a:hover {background: rgba(150, 150, 150, 0.35); border-radius: 2px;transition: 0.2s;}

/*-----------------------------------------------------------------------------------------------------*/

#pagetitle {
  position: absolute;
  text-align: center;
  top: 240px;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-weight: 700;
  font-size: 40px;
}

/*-----------------------------------------------------------------------------------------------------*/

#section1 {border: solid 1px white;
  top: 580px;
  position: absolute;
  padding-top:50px;
  padding-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 35px;
  font-size: 20px;
  height: inherit;
}

/*-----------------------------------------------------------------------------------------------------*/

iframe {
  border:0;
  box-shadow: 0px 0px 24px 10px black;
}

.videocontainer {border: solid 1px white;
  top: 1520px;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);

}

#video1 {}
#video2 {}
#video3 {}

.nodisplay {z-index: -1;}

/*-----------------------------------------------------------------------------------------------------*/

#section3 {border: solid 1px white;
  position: absolute;
  top: 1800px;
  height: inherit;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.dot {
  display: inline-block;
  margin: 7px;
  height: 15px;
  width: 15px;
  border-radius:999px;
  border: 1px solid white;
}

.fulldot {background-color: white;}

/*-----------------------------------------------------------------------------------------------------*/

.section4 {
  position: absolute;
  top: 100px;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100%;
  height: 30px;
  border: solid 1px white;
}

/*-----------------------------------------------------------------------------------------------------*/


#foot {
  top:500px;
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: black;
  padding-top: 80px;
  padding-bottom: 150px;
  text-align: center;
}

#facebooklink {
  background-image: url("facebooklogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
}

#facebooklink:hover {opacity: 0.7}

#instagramlink {
  background-image: url("instagramlogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  width: 50px;
}

#instagramlink:hover {opacity: 0.7}

#youtubelink {
  background-image: url("youtubelogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  width: 50px;
}

#youtubelink:hover {opacity: 0.7}
