body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181823;
  text-align: center;
}

p {max-height: 999999px;}

.text {
  font-weight: 300;
  font-size: 20px;
  max-height: 999999px;
  color: white;
  text-align: center;
}


.text a {color: orange; text-decoration: none;}
.text a:hover{opacity:0.7;}

  /*-----------------------------------------------------------------------------------------------------*/

  .dropdown-content {display: none; position: absolute;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown-content a {text-align: left;}

  #navcontainer {
    background-image: url("mkwii.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
    width: 100%;
    display: block;
    margin: 0;
  }

  #navbar {
      list-style-type: none;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 30px;
      right: 5%;
  }

  li {
      float: right;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px 17px;
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
  }

  li a:hover {background: rgba(150, 150, 150, 0.35); border-radius: 2px;transition: 0.2s;}

/*-----------------------------------------------------------------------------------------------------*/

#pagetitle {
  position: absolute;
  text-align: center;
  top: 240px;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-weight: 700;
  font-size: 40px;
}

/*-----------------------------------------------------------------------------------------------------*/

#section1 {
  display:block;
  clear:none;
  padding-top:50px;
  padding-bottom: 30px;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 35px;
  font-size: 20px;
}

/*-----------------------------------------------------------------------------------------------------*/

iframe {
  height: 540px;
  width: 960px;
  border:0;
  margin:0;
  padding:0;
}

.slider-holder
       {
           width: 960px;
           height: 540px;
           display: block;
           background-color: black;
           margin-left: auto;
           margin-right: auto;
           margin-top: 0px;
           margin-bottom: 35px;
           text-align: center;
           overflow: hidden;
       }

       .image-holder
       {
           width: 2880px;
           background-color: black;
           height: 540px;
           clear: both;
           position: relative;

           -webkit-transition: left 2s;
           -moz-transition: left 2s;
           -o-transition: left 2s;
           transition: left 2s;
       }

       .slider-image
       {
           float: left;
           margin: 0px;
           padding: 0px;
           position: relative;
       }

       #slider-image-1:target ~ .image-holder
       {
           left: 0px;
       }

       #slider-image-2:target ~ .image-holder
       {
           left: -960px;
       }

       #slider-image-3:target ~ .image-holder
       {
           left: -1920px;
       }

       .button-holder
       {
          display: inline-block;
       }

       .slider-change
       {
           display: inline-block;
           height: 15px;
           width: 15px;
           margin-right: 5px;
           margin-left: 5px;
           margin-bottom: 30px;
           border-radius: 999px;
           border: solid white 1px;

       }

       .slider-change:hover {background-color:white; transition: 0.3s;}

/*-----------------------------------------------------------------------------------------------------*/

#section3 {
  display: block;
  clear: none;
  height: inherit;
  width: auto;
  text-align: center;
}

.dot {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  height: 15px;
  width: 15px;
  border-radius:999px;
  border: 1px solid white;
}

.dot:hover {background-color: white; transition: 0.3s;}
/*-----------------------------------------------------------------------------------------------------*/


#foot {
  clear: none;
  display: block;
  height: 50px;
  width: 100%;
  background-color: black;
  padding-top: 80px;
  padding-bottom: 150px;
  text-align: center;
}

#facebooklink {
  background-image: url("facebooklogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
}

#facebooklink:hover {opacity: 0.7}

#instagramlink {
  background-image: url("instagramlogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  width: 50px;
}

#instagramlink:hover {opacity: 0.7}

#youtubelink {
  background-image: url("youtubelogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  width: 50px;
}

#youtubelink:hover {opacity: 0.7}
