body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181823;
  text-align: center;
}

p {max-height: 999999px;}

.text {
  font-weight: 300;
  font-size: 20px;
  max-height: 999999px;
  color: white;
  text-align: center;
}


.text a, .captext a {color: orange; text-decoration: none;}
.text a:hover, .captext a:hover {opacity:0.7;}

  /*-----------------------------------------------------------------------------------------------------*/

  .dropdown-content {display: none; position: absolute;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown-content a {text-align: left;}

  #navcontainer {
    background-image: url("mkwii.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
    width: 100%;
    display: block;
    margin: 0;
    box-shadow: 0px 0px 51px 32px rgba(0,0,0,0.7);

  }

  #navbar {
      list-style-type: none;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 30px;
      right: 5%;
  }

  li {
      float: right;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px 17px;
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
  }

  li a:hover {background: rgba(150, 150, 150, 0.35); border-radius: 2px;transition: 0.2s;}

/*-----------------------------------------------------------------------------------------------------*/

#pagetitle {
  position: absolute;
  text-align: center;
  top: 250px;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-weight: 700;
  font-size: 40px;
}

/*-----------------------------------------------------------------------------------------------------*/

#section1 {
  display:block;
  clear:none;
  padding-top:70px;
  padding-bottom: 30px;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 35px;
  font-size: 20px;
}

/*-----------------------------------------------------------------------------------------------------*/

* {box-sizing: border-box}
.mySlides {display: none}

iframe {
  vertical-align: middle;
  height: 450px;
  width: 800px;
  border: 0;
  margin: 0;
  padding: 0;
}

.slideshow-container {
  width: 800px;
  height: 450px;
  position: relative;
  margin: auto;
  background-color: black;
  box-shadow: 0px 0px 51px 20px rgba(0,0,0,0.75);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  transform: translate(0, -30px);
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 2px;
}

.prev {left: -50px;}

.next {
  right: -50px;
}

.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.8);
  color: black;
}

.captext {
  color: white;
  font-weight: 300;
  font-size: 20px;
  transform: translate(0, 80px);
  padding: 8px 12px;
  display: block;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#dotcontainer {
  transform: translate(0, 0);
  margin-top: 20px;
}

.active, .dot:hover {
  background-color: white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*-----------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------*/


#foot {
  clear: none;
  display: block;
  height: 50px;
  width: 100%;
  background-color: black;
  padding-top: 70px;
  padding-bottom: 190px;
  text-align: center;
}

#facebooklink {
  background-image: url("facebooklogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
}

#facebooklink:hover {opacity: 0.7}

#instagramlink {
  background-image: url("instagramlogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  width: 50px;
}

#instagramlink:hover {opacity: 0.7}

#youtubelink {
  background-image: url("youtubelogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  width: 50px;
}

#youtubelink:hover {opacity: 0.7}
