
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;}

  p {max-height: 999999px;}

  /*-----------------------------------------------------------------------------------------------------*/

  .dropdown-content {display: none; position: absolute;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown-content a {text-align: left;}

  #navcontainer {
    background-image: url("homepage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    display: block;
    margin: 0;
  }

  #navbar {
      list-style-type: none;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 30px;
      right: 5%;
  }

  li {
      float: right;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px 17px;
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
  }

  li a:hover {background: rgba(150, 150, 150, 0.35); border-radius: 2px;transition: 0.2s;}

/*-----------------------------------------------------------------------------------------------------*/

#pagetitle {
  position: absolute;
  text-align: center;
  top: 400px;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  line-height: 50px;
}

#hi {font-weight: 300; font-size: 35px;}
#myname {font-weight: 700; font-size: 40px;}

/*-----------------------------------------------------------------------------------------------------*/

.subtitle {
  font-weight: 700;
  font-size: 40px;
  color: white;
  text-align: center;
}

.subtext {
  font-weight: 300;
  font-size: 20px;
  color: white;
}

/*-----------------------------------------------------------------------------------------------------*/

#section1 {
  clear: none;
  display: block;
  height: 140px;
  width: 100%;
  background-image: url("bovisa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

#polilogo {
  background-image: url("polilogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 140px;
  width: 140px;
  vertical-align: top;
}

#polilogo:hover {opacity: 0.75;}

#politext {
  display: inline-block;
  height: 140px;
  width: 400px;
}

#politext p {
  position: relative;
  text-align: left;
  top: 50%;
  left: 10%;
  transform: translateY(-100%);
}

/*-----------------------------------------------------------------------------------------------------*/

#section2 {
  clear: none;
  display: block;
  height: 140px;
  width: 100%;
  background-image: url("mkwii.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

#mkwiilogo {
  background-image: url("mkwiilogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 140px;
  width: 140px;
  vertical-align: top;
}

#mkwiilogo:hover {opacity: 0.75;}

#mkwiitext {
  display: inline-block;
  height: 140px;
  width: 400px;
}

#mkwiitext p {
  position: relative;
  text-align: left;
  top: 50%;
  left: 10%;
  transform: translateY(-100%);
}

/*-----------------------------------------------------------------------------------------------------*/

#section3 {
  clear: none;
  display: block;
  height: 140px;
  width: 100%;
  background-image: url("photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

#cameralogo {
  background-image: url("cameralogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 140px;
  width: 140px;
  vertical-align: top;
}

#cameralogo:hover {opacity: 0.75;}

#cameratext {
  display: inline-block;
  height: 140px;
  width: 400px;
}

#cameratext p {
  position: relative;
  text-align: left;
  top: 50%;
  left: 10%;
  transform: translateY(-100%);
}

/*-----------------------------------------------------------------------------------------------------*/

#section4 {
  clear: none;
  display: block;
  height: 140px;
  width: 100%;
  background-image: url("youtube.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

#youtubelogo {
  background-image: url("youtubelogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 140px;
  width: 140px;
  vertical-align: top;
}

#youtubelogo:hover {opacity: 0.75;}

#youtubetext {
  display: inline-block;
  height: 140px;
  width: 400px;
}

#youtubetext p {
  position: relative;
  text-align: left;
  top: 50%;
  left: 10%;
  transform: translateY(-100%);
}

/*-----------------------------------------------------------------------------------------------------*/

#section5 {
  clear: none;
  display: block;
  height: 140px;
  width: 100%;
  background-image: url("magic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

#magiclogo {
  background-image: url("magiclogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 140px;
  width: 140px;
  vertical-align: top;
}

#magiclogo:hover {opacity: 0.75;}

#magictext {
  display: inline-block;
  height: 140px;
  width: 400px;
}

#magictext p {
  position: relative;
  text-align: left;
  top: 50%;
  left: 10%;
  transform: translateY(-100%);
}

/*-----------------------------------------------------------------------------------------------------*/

#foot {
  clear: none;
  display: block;
  height: 50px;
  width: 100%;
  background-color: black;
  padding-top: 80px;
  padding-bottom: 150px;
  text-align: center;
}

#facebooklink {
  background-image: url("facebooklogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
}

#facebooklink:hover {opacity: 0.7}

#instagramlink {
  background-image: url("instagramlogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  width: 50px;
}

#instagramlink:hover {opacity: 0.7}

#youtubelink {
  background-image: url("youtubelogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  width: 50px;
}

#youtubelink:hover {opacity: 0.7}
